{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block carousel %}
    {% include 'carousel.html' %}
{% endblock %}
{% block content %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function getdate() {
            var reg = 'classify/\(\\d+?\)/\(\\d+?\)/';
            return window.location.href.match(reg);
        }
    $(document).ready(function () {

        var dat = getdate();
{#        console.log(dat);#}

        var type = Number(dat[1]);
        var page = Number(dat[2]);

        if(type == 1)
            document.title = '【宝淘】 热门';
        else if(type == 2)
            document.title = '【宝淘】 美味餐厨';
        else
            document.title = '【宝淘】 家纺家居';

        $(icon).html('<img src="/static/images/type/'+ type +'.png">')

        $.ajax({
            url: '/taobao/api/classify/',
            type: 'POST',
            data: {type:type,page:page},
            headers:{ "X-CSRFtoken":getCookie("csrftoken")},
            success: function (res) {
                console.log(res);
                var goods = res.data;
                var hasNext = res.hasNext;
                var hasPrevios = res.hasPrevios;
                var page = res.page;
                var queryNum = res.queryNum;
                var type = res.type;
                var endIndex = res.endIndex;
                //循环输出产品ul
                $.each(goods,function(index,good) {
                    $(ulGood).append(' <li class="item"> <div class="m-product"> <span></span> <div class="hd"> <a href="/taobao/goods/' + good.goods_id + '"> <img src="/static/images/goods/' + good.goods_id + '.jpg" class ="img"> </a> </div> <div class="bd"> <a href="/taobao/goods/' + good.goods_id + '"> <h4 class="name">' + good.goods_name + '</h4> </a> <p style="color: #050505;font-weight: bold;text-align:center" >' + good.goods_introduce + '</p> <p class="price">&yen;' + good.goods_price + '</p> <hr> </div> </div> </li>');
                });
                $(pagerNav).html('<a href="/taobao/classify/'+ type +'/1"> 第一页 |  &nbsp;</a>');
                if(hasPrevios) {
                    $(pagerNav).append(' <a href="/taobao/classify/' + type + '/'+ String(Number(page) - 1) + '"> 上一页 &nbsp;</a>');
                    if (hasNext)
                        $(pagerNav).append('<span> | </span>')
                }
                if(hasNext)
                    $(pagerNav).append('<a href="/taobao/classify/'+ type +'/'+ String(Number(page) + 1)+'"> 下一页 &nbsp;</a>');
                $(pagerNav).append('<a href="/taobao/classify/'+ type +'/'+ endIndex+'">| 末尾页 </a>')
            }
        });

    })
</script>

    <div style="margin-top: 20px">
        <div class="w1240">
            <div class="line100"></div>
            <div class="icon" id = 'icon'> </div>
        </div>
    </div>

    <div class="w1240">
        <ul class="m-itemList m-itemList-level2Category" id = 'ulGood'>
{#            写在js中#}
        </ul>
    <div style="padding-right:60px">
        <span style="float: right" id = "pagerNav">
        </span>

    </div>
    </div>
    <div class="clear"></div>

{% endblock %}