{% extends 'base.html' %}

{% block title %}
    【宝淘】 {% if type == 0 %}
    热门
    {% elif type == 1 %}
    美味餐厨
    {% elif type == 2 %}
    家纺家居
    {% endif %}
{% endblock %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block carousel %}
    {% include 'carousel.html' %}
{% endblock %}
{% block content %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    $(document).ready(function () {
        $.ajax({
            url: 'http://127.0.0.1:8000/taobao/api/',
            type: 'POST',
            data: {type:1,page:1},
            headers:{ "X-CSRFtoken":getCookie("csrftoken")},
            success: function (res) {
                console.log(res);
{#                var goods = res.data#}
{#                var hasNext = res.hasNext#}
{#                var hasPrevios = res.hasPrevios#}
{#                var page = res.page#}
{#                var queryNum = res.queryNum#}
{#                var type = res.type#}
            }
        })
    })
</script>

    <div style="margin-top: 20px">
        <div class="w1240">
            <div class="line100"></div>
            <div class="icon"><img src="/static/images/type/{{ type }}.png"> <a>{% if type == 0 %}热门{% elif type == 1 %}美味餐厨{% elif type == 2 %}家纺家居{% endif %}</a> </div>
        </div>
    </div>

    <div class="w1240">
        <ul class="m-itemList m-itemList-level2Category">


            {% for i in goods %}
                <li class="item">
                    <div class="m-product">
                    <span></span>
                    <div class="hd">
                        <a href="/taobao/goods/{{ i.goods_id }}">
                            <img src="/static/images/goods/{{ i.goods_id}}.jpg" class ="img">
                        </a>
                    </div>

                    <div class="bd">
                         <a href="/taobao/goods/{{ i.goods_id }}">
                        <h4 class="name">{{ i.goods_name }}</h4>
                         </a>
                         <p style="color: #050505;font-weight: bold;text-align:center" >{{ i.goods_introduce }}</p>
                        <p class="price">&yen;{{ i.goods_price }}</p>
                        <hr>
                    </div>
                </div>
                </li>
            {% endfor %}

        </ul>
    <div style="padding-right:60px">
        <span style="float: right">
            <a href="/taobao/classify/{{ type }}/{{ goods.start_index }}"> 第一页 |  &nbsp;</a>
            {% if goods.has_previous %}
                <a href="/taobao/classify/{{ type }}/{{ goods.previous_page_number }}"> 上一页 &nbsp;</a>
                {% if  goods.has_next%}
                <span> | </span>
            {% endif %}
            {% endif %}
            {% if goods.has_next %}
                <a href="/taobao/classify/{{ type }}/{{ goods.next_page_number }}"> 下一页 &nbsp;</a>
            {% endif %}
             <a href="/taobao/classify/{{ type }}/{{ goods.end_index }}">| 末尾页 </a>
        </span>
    </div>
    </div>
    <div class="clear"></div>

{% endblock %}