<!DOCTYPE html>

<html>
<head>
    <title>
        {% block title %} {% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

<!--  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/inc.css.css" rel="stylesheet">
    <link href="/static/css/reset.css" rel="stylesheet">

</head>

<body >

 <div class="login-wrap w960">
        <div class="login-logo"><a href=""><img src="/static/images/baotao.png" alt="" style="width: 268px;height: 140px"></a></div>

            {% block content %} {% endblock %}

    </div>
</body>